.container.textimonal__container{
    display: grid;
    padding-bottom: 4rem;
}

.testimonial{
    background: var(--color-variant);
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.testimonial:hover{
    background: transparent;
    border: 1px solid var(--color-variant);
}

.textimonial__image{
    width: 10%;
    margin-left: auto;
    margin-right: auto;

}

.textimonial__image img{
    border-radius: 50%;
    border: 5px solid var(--color-primary);
}

.testimonial p{
    font-size: 0.9rem;
    margin-left: 4%;
    text-align: center;
}

.testimonial b{
    margin-left: 45%;
}
.swiper-pagination .swiper-pagination-clickable .swiper-pagination-bullets .swiper-pagination-horizontal{
    background: var(--color-primary);
}


  @media screen and (max-width: 600px) {
    .testimonial{
        width: 100%;
    }

    .testimonial img{
        width: 4rem;
    }
    .testimonial b{
        margin-left: 37%;
    }
  }