/* .contact__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact__socials{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    row-gap: 1rem;
}

.socials{
    background: var(--color-variant);
    width: 50%;
    padding: 1.5rem;
    border-radius: 1rem;
} */

.contact__container{
    display: flex;
    column-gap: 6rem;
}

.contact__socials{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    row-gap: 1rem;
    margin-left: 10%;
}

.socials{
    background: var(--color-variant);
    padding: 1.5rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.socials:hover{
    background: transparent;
    border: 1px solid var(--color-variant);
}

.socials .socials__icon{
    width: 3rem;
    height: 1.5rem;
}


/* .contact__forms{
} */

.form{
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 1fr;
    width: 100%;
}

.form > input{
    /* width: 30rem; */
    padding: 1rem;
    border-radius: 0.5rem;
    border: 2px solid rgba(124, 123, 123, 0.6);
    background: transparent;
    color: var(--white);
}

.form > textarea{
    /* width: 30rem; */
    padding: 1rem;
    border-radius: 0.5rem;
    border: 2px solid rgba(124, 123, 123, 0.6);
    background: transparent;
    color: var(--white);
}



@media screen and (max-width: 1024px) {
    .contact__container{
        display: grid;
        row-gap: 2rem;
        justify-content: center;
    }

    .contact__socials{
        width: 100%;
        margin-left: 0;

    }

    .form{
        width: 100%; 
    }

  }
  
  @media screen and (max-width: 600px) {


  }